$cusColor3: #9237e2;
$cusColor4: #e542e7;
$cusColor33: #9237e2dd;
$cusColor44: #e542e7dd;
#navSearchEle{
    background-color: unset;
    color: unset;
}
.mediaPicFrOut:hover,.mediaPicOut:hover{
    box-shadow: 0 0 16px 4px $cusColor3;
    color: $cusColor3;
    border: none;
}
#main a:hover:not(.episodeEle,.mediaTitFr,.mediaTit),.seasonInfo:hover,.godTypeEleActive,.godTypeEle:hover{
    color: $cusColor3;
}
.mediaYear{
    color: $cusColor4;
}
#godType,.getButton{
    background: linear-gradient(90deg, $cusColor3 0%, $cusColor4 100%);
}
.episodeEle:hover{
    background: linear-gradient(90deg, $cusColor3 0%, $cusColor4 100%);
}
.mediaPicOut,.mediaPicFrOut,#videoPicOut,#header,#iframeOut{
    background: linear-gradient(135deg, $cusColor3 0%, $cusColor4 40%, $cusColor4 60%, $cusColor3 100%);
}
#header{
    background: linear-gradient(135deg, $cusColor3 0%, $cusColor4 100%);
}
#footer{
    background: linear-gradient(135deg, $cusColor4 0%, $cusColor3 100%);
}
.seasonInfo{
    border-top: solid 6px $cusColor3;
}