$cusColor3: #fa9b52;
$cusColor4: #f49dac;
$cusColor33: #fa9b52dd;
$cusColor44: #f49dacdd;

#navSearchEle{
    background-color: unset;
    color: unset;
}
.mediaPicFrOut:hover{
    box-shadow: 0 0 1rem .2rem $cusColor3;
    color: $cusColor3;
    border: none;
}
#main a:hover:not(.episodeEle,.mediaTitFr,.mediaTit),.seasonInfo:hover,.godTypeEleActive,.godTypeEle:hover{
    color: $cusColor3;
}
.mediaYear{
    color: $cusColor4;
}
#godType,.getButton{
    background: linear-gradient(90deg, $cusColor3 0%, $cusColor4 100%);
}
.episodeEle:hover{
    background: linear-gradient(90deg, $cusColor3 0%, $cusColor4 100%);
    padding-top: .4rem;
}
.mediaPicOut,.mediaPicFrOut,#videoPicOut,#header,#iframeOut{
    background: linear-gradient(135deg, $cusColor3 0%, $cusColor4 40%, $cusColor4 60%, $cusColor3 100%);
}
#header{
    background: linear-gradient(135deg, $cusColor3 0%, $cusColor4 100%);
}
#footer{
    background: linear-gradient(135deg, $cusColor4 0%, $cusColor3 100%);
}
.seasonInfo{
    border-top: solid .4rem $cusColor3;
}