.voidPic{
    background-image: url(/VERTE.IO/media/franchise/void.webp);
}
#godCont{
    width: 900px;
}
#godType{
    border-radius: 30px;
    display: flex;
    font-weight: bold;
    text-align: center;
}
.godTypeEle,.godTypeEleActive{
    height: 60px;
    width: 20%;
    font-size: 26px;
    transition: .4s;
    display: grid;
    align-items: center;
}
.godTypeEleActive,.godTypeEle:hover{
    font-size: 28px;
}
.godTypeEle:nth-of-type(1){
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.godTypeEle:nth-of-type(5){
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
#generateField{
    margin-top: 60px;
    text-align: center;
}
#generateField input{
    border-radius: 30px;
    margin-bottom: 10px;
    line-height: 46px;
    padding: 0 20px;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    font-family: unset;
    font-weight: bold;
    transition: .4s;
}
#generateField input:hover{
    letter-spacing: 1px;
}
.getName{
    width: 60%;
}
.getOther,.getButton{
    width: 30%;
}