#mediaEleCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .mediaEle{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
        .mediaPicOut{
            width: 80%;
            border-radius: 40px;
            transition: 1s;
            margin-bottom: 14px;
            padding: 6px;
            .mediaPic{
                width: 100%;
                height: 100%;
                border-radius: 34px;
            }
        }
        .mediaPicOut:hover{
            transition: .2s;
            transform: scale(1.04);
        }
        .mediaYear{
            line-height: 20px;
            font-style: italic;
            letter-spacing: 2px;
        }
    }
}


#mediaFraCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .mediaEleFr{
        width: 900px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
        .mediaPicFrOut{
            border-radius: 40px;
            transition: 1s;
            padding: 8px;
            margin-bottom: 16px;
            height: 356px;
            .mediaPicFr{
                height: 100%;
                width: 100%;
                border-radius: 32px;
                background-position: center;
                transition: .5s;
            }
            .mediaPicFr:hover{
                animation: mediaPicFr 10s;
            }
        }
        .mediaPicFrOut:hover{
            transform: scale(1.04);
            transition: .2s;
        }
        .mediaTitFr{
            font-size: 20px;
            letter-spacing: 4px;
        }
        @keyframes mediaPicFr{
            10%,100%{
                background-position: center;
            }
            40%{
                background-position: left;
            }
            70%{
                background-position: right;
            }
        }
    }
}