#picFr1{
    background-image: url(/VERTE.IO/media/franchise/marvel.webp);}
#picFr2{
    background-image: url(/VERTE.IO/media/franchise/star-wars.webp);}
#picFr3{
    background-image: url(/VERTE.IO/media/franchise/pixar.webp);}
#picFr4{
    background-image: url(/VERTE.IO/media/franchise/dreamworks.webp);}
#picFr5{
    background-image: url(/VERTE.IO/media/franchise/disney.webp);}
#picFr6{
    background-image: url(/VERTE.IO/media/franchise/illumination.webp);}
#picFr7{
    background-image: url(/VERTE.IO/media/franchise/dc-comics.webp);}
#picFr8{
    background-image: url(/VERTE.IO/media/franchise/x-men.webp);}
#picFr9{
    background-image: url(/VERTE.IO/media/franchise/fast-and-furious.webp);}
#picFr10{
    background-image: url(/VERTE.IO/media/franchise/transformers.webp);}
#picFr11{
    background-image: url(/VERTE.IO/media/franchise/harry-potter.webp);}
#picFr12{
    background-image: url(/VERTE.IO/media/franchise/lord-of-the-rings.webp);}
#picFr13{
    background-image: url(/VERTE.IO/media/franchise/blue-sky.webp);}
#picFr14{
    background-image: url(/VERTE.IO/media/franchise/sony-pictures.webp);}
#picFr15{
    background-image: url(/VERTE.IO/media/franchise/nickelodeon.webp);}
#picFr16{
    background-image: url(/VERTE.IO/media/franchise/cartoon-network.webp);}
#picFr99{
    background-image: url(/VERTE.IO/media/franchise/void.webp);}