#videoAsideL{
    float: left;
    width: 50%;
    #videoInfo{
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        #videoPicOut{
            height: 400px;
            aspect-ratio: 39/58;
            border-radius: 40px;
            padding: 8px;
            #videoPic{
                width: 100%;
                height: 100%;
                border-radius: 32px;
            }
        }
        #videoDet{
            width: 60%;
            line-height: 26px;
            p{
                margin-bottom: 16px;
                text-align: justify;
            }
            span{
                font-weight: bold;
            }
        }
    }
    #seasonList{
        margin-top: 50px;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 40px;
        .seasonInfo{
            padding: 16px 0;
            transition: .2s color;
            display: flex;
            justify-content: space-between;
            .seasonTit{
                letter-spacing: 4px;
                font-size: 24px;
            }
            .seasonArr{
                font-size: 36px;
                line-height: 0;
                display: flex;
                align-items: center;
                transform: rotate(90deg);
            }
        }
        .episodeList{
            text-align: center;
            display: none;
            .episodeEle{
                line-height: 48px;
                display: flex;
                letter-spacing: 2px;
                .episodeOvr{
                    width: 10%;
                }
                .episodeSea{
                    width: 13%;
                }
                .episodeTit{
                    width: 77%;
                }
            }
        }
    }
}
#videoAsideR{
    width: 50%;
    float: right;
    justify-content: flex-end;
    display: flex;
    #videoWatch{
        width: 90%;
        #iframeOut{
            width: 100%;
            display: flex;
            border-radius: 40px;
            padding: 8px;
            aspect-ratio: 16/9;
            #iframeId{
                border-radius: 32px;
                border: none;
                height: 100%;
                width: 100%;
            }
        }
    }
}