#navSearchEle {
  background-color: unset;
  color: unset;
}

.mediaPicFrOut:hover, .mediaPicOut:hover {
  box-shadow: 0 0 16px 4px #9237e2;
  color: #9237e2;
  border: none;
}

section a:hover:not(.episodeEle, .mediaTitFr, .mediaTit), .seasonInfo:hover, .godTypeEleActive, .godTypeEle:hover {
  color: #9237e2;
}

.mediaYear {
  color: #e542e7;
}

#godType, .getButton {
  background: linear-gradient(90deg, #9237e2 0%, #e542e7 100%);
}

.episodeEle:hover {
  background: linear-gradient(90deg, #9237e2 0%, #e542e7 100%);
}

.mediaPicOut, .mediaPicFrOut, #videoPicOut, header, #iframeOut {
  background: linear-gradient(135deg, #9237e2 0%, #e542e7 40%, #e542e7 60%, #9237e2 100%);
}

header {
  background: linear-gradient(135deg, #9237e2 0%, #e542e7 100%);
}

footer {
  background: linear-gradient(135deg, #e542e7 0%, #9237e2 100%);
}

.seasonInfo {
  border-top: solid 6px #9237e2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
  font-family: inter;
  text-decoration: none;
  color: unset;
  font-weight: unset;
  text-align: center;
}

body {
  overflow-x: hidden;
}
body header {
  letter-spacing: 5px;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header #headerCent {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header #headerCent #navTitle {
  font-size: 36px;
}
body header #headerCent #navTitle #navTitleEle {
  transition: 0.4s letter-spacing, 0.4s margin-right;
}
body header #headerCent #navTitle .navTitleEleHov:hover {
  letter-spacing: 10px;
  margin-right: -40px;
}
body header #headerCent #navTheme {
  font-size: 20px;
}
body header #headerCent #navTheme #navThemeEle {
  border-radius: 32px;
  line-height: 35px;
  width: 130px;
  transition: 0.4s color, 0.4s background-color, 0.4s border;
}
body header #headerCent #navSearch {
  width: 50%;
}
body header #headerCent #navSearch #navSearchEle {
  font-size: 20px;
  width: 80%;
  padding: 0 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 32px;
  transition: 0.4s width;
  line-height: 35px;
}
body header #headerCent #navSearch #navSearchEle:focus {
  width: 100%;
}
@keyframes headerShow {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes headerHide {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
body .headerShow {
  animation: headerShow 0.2s ease-in-out forwards;
}
body .headerHide {
  animation: headerHide 0.2s ease-in-out forwards;
}
body section {
  padding-top: 140px;
  display: flex;
  justify-content: center;
}
body footer {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer #footerCent {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body #goUp {
  bottom: 34px;
  right: 40px;
  position: fixed;
  transform: scale(3);
}
body #goUp:hover {
  transform: scale(3.2);
}
body #scroll {
  position: fixed;
  width: 10px;
  right: 2px;
  top: 0;
  border-radius: 10px;
}

::-webkit-scrollbar {
  display: none;
}

#mediaEleCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#mediaEleCont .mediaEle {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
#mediaEleCont .mediaEle .mediaPicOut {
  width: 80%;
  border-radius: 40px;
  transition: 1s;
  margin-bottom: 14px;
  padding: 6px;
}
#mediaEleCont .mediaEle .mediaPicOut .mediaPic {
  width: 100%;
  height: 100%;
  border-radius: 34px;
}
#mediaEleCont .mediaEle .mediaPicOut:hover {
  transition: 0.2s;
  transform: scale(1.04);
}
#mediaEleCont .mediaEle .mediaYear {
  line-height: 20px;
  font-style: italic;
  letter-spacing: 2px;
}

#mediaFraCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#mediaFraCont .mediaEleFr {
  width: 900px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
#mediaFraCont .mediaEleFr .mediaPicFrOut {
  border-radius: 40px;
  transition: 1s;
  padding: 8px;
  margin-bottom: 16px;
  height: 356px;
}
#mediaFraCont .mediaEleFr .mediaPicFrOut .mediaPicFr {
  height: 100%;
  width: 100%;
  border-radius: 32px;
  background-position: center;
  transition: 0.5s;
}
#mediaFraCont .mediaEleFr .mediaPicFrOut .mediaPicFr:hover {
  animation: mediaPicFr 10s;
}
#mediaFraCont .mediaEleFr .mediaPicFrOut:hover {
  transform: scale(1.04);
  transition: 0.2s;
}
#mediaFraCont .mediaEleFr .mediaTitFr {
  font-size: 20px;
  letter-spacing: 4px;
}
@keyframes mediaPicFr {
  10%, 100% {
    background-position: center;
  }
  40% {
    background-position: left;
  }
  70% {
    background-position: right;
  }
}

#videoCont {
  display: flex;
  width: 80%;
}
#videoCont #videoAsideL {
  width: 40%;
}
#videoCont #videoAsideL #videoInfo {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#videoCont #videoAsideL #videoInfo #videoPicOut {
  height: 400px;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 39/58;
  border-radius: 40px;
  padding: 8px;
}
#videoCont #videoAsideL #videoInfo #videoPicOut #videoPic {
  width: 100%;
  height: 100%;
  border-radius: 32px;
}
#videoCont #videoAsideL #videoInfo #videoDet {
  padding-left: 20px;
  line-height: 26px;
}
#videoCont #videoAsideL #videoInfo #videoDet p {
  margin-bottom: 16px;
  text-align: left;
}
#videoCont #videoAsideL #videoInfo #videoDet span {
  font-weight: bold;
}
#videoCont #videoAsideL #seasonList {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#videoCont #videoAsideL #seasonList .seasonInfo {
  padding: 16px 0;
  transition: 0.2s color;
  display: flex;
  justify-content: space-between;
}
#videoCont #videoAsideL #seasonList .seasonInfo .seasonTit {
  letter-spacing: 4px;
  font-size: 24px;
}
#videoCont #videoAsideL #seasonList .seasonInfo .seasonArr {
  font-size: 36px;
  line-height: 0;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
}
#videoCont #videoAsideL #seasonList .episodeList {
  display: none;
}
#videoCont #videoAsideL #seasonList .episodeList .episodeEle {
  line-height: 48px;
  display: flex;
  letter-spacing: 2px;
}
#videoCont #videoAsideL #seasonList .episodeList .episodeEle .episodeOvr {
  width: 15%;
}
#videoCont #videoAsideL #seasonList .episodeList .episodeEle .episodeSea {
  width: 15%;
}
#videoCont #videoAsideL #seasonList .episodeList .episodeEle .episodeTit {
  width: 70%;
}
#videoCont #videoAsideR {
  width: 60%;
}
#videoCont #videoAsideR #videoWatch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
#videoCont #videoAsideR #videoWatch #iframeOut {
  width: 90%;
  display: flex;
  border-radius: 40px;
  padding: 8px;
  aspect-ratio: 16/9;
}
#videoCont #videoAsideR #videoWatch #iframeOut #iframeId {
  border-radius: 32px;
  border: none;
  height: 100%;
  width: 100%;
}

#godCont {
  width: 900px;
}
#godCont #godType {
  border-radius: 30px;
  display: flex;
  font-weight: bold;
  text-align: center;
}
#godCont #godType .godTypeEle, #godCont #godType .godTypeEleActive {
  height: 60px;
  width: 20%;
  font-size: 26px;
  transition: 0.4s;
  display: grid;
  align-items: center;
}
#godCont #godType .godTypeEleActive, #godCont #godType .godTypeEle:hover {
  font-size: 28px;
}
#godCont #godType .godTypeEle:nth-of-type(1) {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
#godCont #godType .godTypeEle:nth-of-type(5) {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
#godCont #generateField {
  margin-top: 60px;
  text-align: center;
}
#godCont #generateField .voidPic {
  background-image: url("/VERTE.IO/media/franchise/void.webp");
}
#godCont #generateField input {
  border-radius: 30px;
  margin-bottom: 10px;
  line-height: 46px;
  padding: 0 20px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-family: unset;
  font-weight: bold;
  transition: 0.4s;
}
#godCont #generateField input:hover {
  letter-spacing: 1px;
}
#godCont #generateField .getName {
  width: 60%;
}
#godCont #generateField .getOther, #godCont #generateField .getButton {
  width: 30%;
}/*# sourceMappingURL=styles.css.map */