#navSearchEle {
  background-color: unset;
  color: unset;
}

.mediaPicFrOut:hover, .mediaPicOut:hover {
  box-shadow: 0 0 16px 4px #9237e2;
  color: #9237e2;
  border: none;
}

#main a:hover:not(.episodeEle, .mediaTitFr, .mediaTit), .seasonInfo:hover, .godTypeEleActive, .godTypeEle:hover {
  color: #9237e2;
}

.mediaYear {
  color: #e542e7;
}

#godType, .getButton {
  background: linear-gradient(90deg, #9237e2 0%, #e542e7 100%);
}

.episodeEle:hover {
  background: linear-gradient(90deg, #9237e2 0%, #e542e7 100%);
}

.mediaPicOut, .mediaPicFrOut, #videoPicOut, header, #iframeOut {
  background: linear-gradient(135deg, #9237e2 0%, #e542e7 40%, #e542e7 60%, #9237e2 100%);
}

header {
  background: linear-gradient(135deg, #9237e2 0%, #e542e7 100%);
}

footer {
  background: linear-gradient(135deg, #e542e7 0%, #9237e2 100%);
}

.seasonInfo {
  border-top: solid 6px #9237e2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
  font-family: inter;
  text-decoration: none;
  color: unset;
}

body {
  overflow-x: hidden;
}
body #headerCent, body #footerCent {
  width: 80%;
  margin: auto;
  display: flex;
  font-size: 20px;
}

a {
  transition: 0.2s;
}

header {
  letter-spacing: 5px;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
  font-weight: bold;
  text-align: center;
  display: flex;
}

.headerShow {
  animation: headerShow 0.2s ease-in-out forwards;
}

.headerHide {
  animation: headerHide 0.2s ease-in-out forwards;
}

@keyframes headerShow {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes headerHide {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
#main {
  padding-top: 140px;
  display: flex;
  justify-content: center;
}

footer {
  letter-spacing: 3px;
  font-weight: bold;
  width: 100%;
  height: 90px;
  display: flex;
}

#goUp {
  bottom: 34px;
  right: 40px;
  position: fixed;
  transform: scale(3);
}

#goUp:hover {
  transform: scale(3.2);
}

#navTheme {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}
#navTheme #navThemeEle {
  border-radius: 20px;
  height: 40px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

#navTitle {
  font-size: 35px;
  width: 30%;
  display: flex;
  justify-content: flex-start;
}
#navTitle #navTitleEle {
  transition: 0.4s letter-spacing transform;
}
#navTitle .navTitleEleHov:hover {
  letter-spacing: 10px;
}

#navSearch {
  width: 52%;
  display: flex;
  align-items: center;
}
#navSearch form {
  width: 100%;
}
#navSearch #navSearchEle {
  font-size: 20px;
  height: 40px;
  width: 80%;
  text-align: center;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: unset;
  letter-spacing: 3px;
  border-radius: 32px;
  transition: 0.4s;
}
#navSearch #navSearchEle:focus {
  width: 100%;
}

#scroll {
  position: fixed;
  width: 10px;
  right: 1px;
  top: 0;
  border-radius: 90px;
}

::-webkit-scrollbar {
  width: 0;
}

#mediaEleCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#mediaEleCont .mediaEle {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
#mediaEleCont .mediaEle .mediaPicOut {
  width: 80%;
  border-radius: 40px;
  transition: 1s;
  margin-bottom: 14px;
  padding: 6px;
}
#mediaEleCont .mediaEle .mediaPicOut .mediaPic {
  width: 100%;
  height: 100%;
  border-radius: 34px;
}
#mediaEleCont .mediaEle .mediaPicOut:hover {
  transition: 0.2s;
  transform: scale(1.04);
}
#mediaEleCont .mediaEle .mediaYear {
  line-height: 20px;
  font-style: italic;
  letter-spacing: 2px;
}

#mediaFraCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#mediaFraCont .mediaEleFr {
  width: 900px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
#mediaFraCont .mediaEleFr .mediaPicFrOut {
  border-radius: 40px;
  transition: 1s;
  padding: 8px;
  margin-bottom: 16px;
  height: 356px;
}
#mediaFraCont .mediaEleFr .mediaPicFrOut .mediaPicFr {
  height: 100%;
  width: 100%;
  border-radius: 32px;
  background-position: center;
  transition: 0.5s;
}
#mediaFraCont .mediaEleFr .mediaPicFrOut .mediaPicFr:hover {
  animation: mediaPicFr 10s;
}
#mediaFraCont .mediaEleFr .mediaPicFrOut:hover {
  transform: scale(1.04);
  transition: 0.2s;
}
#mediaFraCont .mediaEleFr .mediaTitFr {
  font-size: 20px;
  letter-spacing: 4px;
}
@keyframes mediaPicFr {
  10%, 100% {
    background-position: center;
  }
  40% {
    background-position: left;
  }
  70% {
    background-position: right;
  }
}

#videoAsideL {
  float: left;
  width: 50%;
}
#videoAsideL #videoInfo {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
#videoAsideL #videoInfo #videoPicOut {
  height: 400px;
  aspect-ratio: 39/58;
  border-radius: 40px;
  padding: 8px;
}
#videoAsideL #videoInfo #videoPicOut #videoPic {
  width: 100%;
  height: 100%;
  border-radius: 32px;
}
#videoAsideL #videoInfo #videoDet {
  width: 60%;
  line-height: 26px;
}
#videoAsideL #videoInfo #videoDet p {
  margin-bottom: 16px;
  text-align: justify;
}
#videoAsideL #videoInfo #videoDet span {
  font-weight: bold;
}
#videoAsideL #seasonList {
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#videoAsideL #seasonList .seasonInfo {
  padding: 16px 0;
  transition: 0.2s color;
  display: flex;
  justify-content: space-between;
}
#videoAsideL #seasonList .seasonInfo .seasonTit {
  letter-spacing: 4px;
  font-size: 24px;
}
#videoAsideL #seasonList .seasonInfo .seasonArr {
  font-size: 36px;
  line-height: 0;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
}
#videoAsideL #seasonList .episodeList {
  text-align: center;
  display: none;
}
#videoAsideL #seasonList .episodeList .episodeEle {
  line-height: 48px;
  display: flex;
  letter-spacing: 2px;
}
#videoAsideL #seasonList .episodeList .episodeEle .episodeOvr {
  width: 10%;
}
#videoAsideL #seasonList .episodeList .episodeEle .episodeSea {
  width: 13%;
}
#videoAsideL #seasonList .episodeList .episodeEle .episodeTit {
  width: 77%;
}

#videoAsideR {
  width: 50%;
  float: right;
  justify-content: flex-end;
  display: flex;
}
#videoAsideR #videoWatch {
  width: 90%;
}
#videoAsideR #videoWatch #iframeOut {
  width: 100%;
  display: flex;
  border-radius: 40px;
  padding: 8px;
  aspect-ratio: 16/9;
}
#videoAsideR #videoWatch #iframeOut #iframeId {
  border-radius: 32px;
  border: none;
  height: 100%;
  width: 100%;
}

.voidPic {
  background-image: url(/VERTE.IO/media/franchise/void.webp);
}

#godCont {
  width: 900px;
}

#godType {
  border-radius: 30px;
  display: flex;
  font-weight: bold;
  text-align: center;
}

.godTypeEle, .godTypeEleActive {
  height: 60px;
  width: 20%;
  font-size: 26px;
  transition: 0.4s;
  display: grid;
  align-items: center;
}

.godTypeEleActive, .godTypeEle:hover {
  font-size: 28px;
}

.godTypeEle:nth-of-type(1) {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.godTypeEle:nth-of-type(5) {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#generateField {
  margin-top: 60px;
  text-align: center;
}

#generateField input {
  border-radius: 30px;
  margin-bottom: 10px;
  line-height: 46px;
  padding: 0 20px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-family: unset;
  font-weight: bold;
  transition: 0.4s;
}

#generateField input:hover {
  letter-spacing: 1px;
}

.getName {
  width: 60%;
}

.getOther, .getButton {
  width: 30%;
}/*# sourceMappingURL=styles.css.map */