$cusColor1: #f1ecec;
$cusColor2: #343434;
$cusColor11: #f1ecec66;
$cusColor22: #34343455;

body{
    background-color: $cusColor1;
    color: $cusColor2;
}
.getName,.getOther{
    background-color: transparent;
    color: unset;
}
header,footer{
    border-top: solid 4px $cusColor22;
    border-bottom: solid 4px $cusColor22;
}
#goUp{
    background-color: transparent;
    color: $cusColor2;
}
.mediaPicOut,.mediaPicFrOut,#videoPicOut,#iframeId{
    box-shadow: 0 0 16px 2px $cusColor22;
}
.episodeEle:hover{
    color: $cusColor1;
}
.godTypeEle:hover,.godTypeEleActive{
    background-color: $cusColor2;
}
#scroll{
    background-color: $cusColor2;
}
#navSearchEle{
    border: solid 4px $cusColor22;
}
#navSearchEle{
    background: $cusColor22;
    color: $cusColor2;
}
#navSearchEle::placeholder{
    color: $cusColor2;
    opacity: .6;
}
#iframeId{
    background-color: $cusColor1;
}
#navThemeEle{
    color: $cusColor2;
    background-color: $cusColor22;
    border: $cusColor2 solid 4px;
}
#navThemeEle:hover{
    color: $cusColor1;
    background-color: $cusColor11;
    border: $cusColor1 solid 4px;
}
.episodeEle{
    border-top: solid 3px $cusColor22;
}
.getName,.getOther,.getButton{
    border: solid 4px $cusColor22;
}